// Blog
include ../mixins/_blog-slide
.wrapper
    .container
        h2.h2-title Блог
        // Blog slider
        .blog-slider#js-blog-slider
            - for (i=0; i<6; i++)
                +blog-slide

        a(href='javascript:void(0)' title='Посмотреть все записи').btn-roll
            span.btn-roll__text Посмотреть все записи
