// Bottom line
.top
    .container.container--top
        span.top__address &copy; 2015 IMPRO Международная школа Интернет-маркетинга №1 в Петербурге
        .top__right
            a(href='https://vk.com/impro_school' target='_blank' title='Международная школа интернет-маркетинга №1 в Санкт-Петербурге в ВКонтакте').top__social.top__social--vkontakte
            a(href='https://www.facebook.com/IMpro-771962449546312/' target='_blank' title='Международная школа интернет-маркетинга №1 в Санкт-Петербурге в Фейсбуке').top__social.top__social--facebook
            a(href='https://twitter.com/impro_school' target='_blank' title='Международная школа интернет-маркетинга №1 в Санкт-Петербурге в Твиттере').top__social.top__social--twitter
            a(href='https://www.youtube.com/channel/UCLysSL_LmmCXPlAVdYZLXkA' target='_blank' title='Международная школа интернет-маркетинга №1 в Санкт-Петербурге на Youtube').top__social.top__social--youtube
            a(href='https://instagram.com/hello_impro/' target='_blank' title='Международная школа интернет-маркетинга №1 в Санкт-Петербурге в Instagram').top__social.top__social--instagram
