// Contacts data
.container
    .contacts
        img(data-original='img/contacts-img.jpg' alt='IMPRO офис' title='IMPRO офис').contacts__img
        .contacts__right
            h2.h2-title Как нас найти
            ul.contacts__data-list
                li.contacts__data-item.contacts__data-item--address
                    p.contacts__title Адрес:
                    p.contacts__data Россия, Санткт-Петербург, ул. Матроса Железняка 57
                li.contacts__data-item.contacts__data-item--phone
                    p.contacts__title Телефон:
                    p.contacts__data 8 (812) 935-95-18
                li.contacts__data-item.contacts__data-item--email
                    p.contacts__title E-mail:
                    p.contacts__data Hello@impro.pro
        .contacts__join
            p.contacts__join-text Присоединяйтесь к нам:
            a(href='https://vk.com/impro_school' target='_blank' title='Международная школа интернет-маркетинга №1 в Санкт-Петербурге в ВКонтакте').top__social.top__social--vkontakte
            a(href='https://www.facebook.com/IMpro-771962449546312/' target='_blank' title='Международная школа интернет-маркетинга №1 в Санкт-Петербурге в Фейсбуке').top__social.top__social--facebook
            a(href='https://twitter.com/impro_school' target='_blank' title='Международная школа интернет-маркетинга №1 в Санкт-Петербурге в Твиттере').top__social.top__social--twitter
            a(href='https://www.youtube.com/channel/UCLysSL_LmmCXPlAVdYZLXkA' target='_blank' title='Международная школа интернет-маркетинга №1 в Санкт-Петербурге на Youtube').top__social.top__social--youtube
            a(href='https://instagram.com/hello_impro/' target='_blank' title='Международная школа интернет-маркетинга №1 в Санкт-Петербурге в Instagram').top__social.top__social--instagram
