// Courses
.courses-wrapper
    .container
        h2.courses-title Ближайшие курсы
        // Courses slider
        .courses-slider#js-courses-slider
            // Slide / Course
            a(href='javascript:void(0)' title='Интенсив - Основы комплексного интернет-маркетинга').course
                .course__img.course__img--yellow
                    img( data-lazy='img/course-1.jpg' alt='Интенсив - Основы комплексного интернет-маркетинга' title='Интенсив - Основы комплексного интернет-маркетинга')
                h3.course__title Интенсив - Основы комплексного интернет-маркетинга
                p.course__leads
                    b Ведут:
                    = ' '
                    span Ярослав Табаков, Роман Осокин, Александр Докучалов, Михаил Шавров
            // Slide / Course
            a(href='javascript:void(0)' title='Интенсив - Основы комплексного интернет-маркетинга').course
                .course__img.course__img--green
                    img( data-lazy='img/course-2.jpg' alt='Интенсив - Основы комплексного интернет-маркетинга' title='Интенсив - Основы комплексного интернет-маркетинга')
                h3.course__title Интенсив - Основы комплексного интернет-маркетинга
                p.course__leads
                    b Ведут:
                    = ' '
                    span Ярослав Табаков, Роман Осокин, Александр Докучалов, Михаил Шавров
            // Slide / Course
            a(href='javascript:void(0)' title='Интенсив - Основы комплексного интернет-маркетинга').course
                .course__img.course__img--violet
                    img( data-lazy='img/course-3.jpg' alt='Интенсив - Основы комплексного интернет-маркетинга' title='Интенсив - Основы комплексного интернет-маркетинга')
                h3.course__title Интенсив - Основы комплексного интернет-маркетинга
                p.course__leads
                    b Ведут:&nbsp;
                    = ' '
                    span Ярослав Табаков, Роман Осокин, Александр Докучалов, Михаил Шавров
            // Slide / Course
            a(href='javascript:void(0)' title='Интенсив - Основы комплексного интернет-маркетинга').course
                .course__img.course__img--violet
                    img( data-lazy='img/course-3.jpg' alt='Интенсив - Основы комплексного интернет-маркетинга' title='Интенсив - Основы комплексного интернет-маркетинга')
                h3.course__title Интенсив - Основы комплексного интернет-маркетинга
                p.course__leads
                    b Ведут:&nbsp;
                    = ' '
                    span Ярослав Табаков, Роман Осокин, Александр Докучалов, Михаил Шавров
            // Slide / Course
            a(href='javascript:void(0)' title='Интенсив - Основы комплексного интернет-маркетинга').course
                .course__img.course__img--violet
                    img( data-lazy='img/course-3.jpg' alt='Интенсив - Основы комплексного интернет-маркетинга' title='Интенсив - Основы комплексного интернет-маркетинга')
                h3.course__title Интенсив - Основы комплексного интернет-маркетинга
                p.course__leads
                    b Ведут:&nbsp;
                    = ' '
                    span Ярослав Табаков, Роман Осокин, Александр Докучалов, Михаил Шавров
            // Slide / Course
            a(href='javascript:void(0)' title='Интенсив - Основы комплексного интернет-маркетинга').course
                .course__img.course__img--violet
                    img( data-lazy='img/course-3.jpg' alt='Интенсив - Основы комплексного интернет-маркетинга' title='Интенсив - Основы комплексного интернет-маркетинга')
                h3.course__title Интенсив - Основы комплексного интернет-маркетинга
                p.course__leads
                    b Ведут:&nbsp;
                    = ' '
                    span Ярослав Табаков, Роман Осокин, Александр Докучалов, Михаил Шавров

        a(href='javascript:void(0)' title='Посмотреть все курсы').courses-btn
            span.courses-btn__text Посмотреть все курсы
