// Courses
.courses-wrapper
    .container
        h2.courses-title
        // Courses slider
        #js-courses-slider
            // Slide / Course
            section.course
                img(src='' alt='Интенсив - Основы комплексного интернет-маркетинга' title='Интенсив - Основы комплексного интернет-маркетинга').course__img.course__img--yellow
                h3.course__title Интенсив - Основы комплексного интернет-маркетинга
                p.course__leads
                    b Ведут:
                    span Ярослав Табаков, Роман Осокин, Александр Докучалов, Михаил Шавров
            // Slide / Course
            section.course
                img(src='' alt='Интенсив - Основы комплексного интернет-маркетинга' title='Интенсив - Основы комплексного интернет-маркетинга').course__img.course__img--green
                h3.course__title Интенсив - Основы комплексного интернет-маркетинга
                p.course__leads
                    b Ведут:
                    span Ярослав Табаков, Роман Осокин, Александр Докучалов, Михаил Шавров
            // Slide / Course
            section.course
                img(src='' alt='Интенсив - Основы комплексного интернет-маркетинга' title='Интенсив - Основы комплексного интернет-маркетинга').course__img.course__img--violet
                h3.course__title Интенсив - Основы комплексного интернет-маркетинга
                p.course__leads
                    b Ведут:
                    span Ярослав Табаков, Роман Осокин, Александр Докучалов, Михаил Шавров

        a(href='javascript:void(0)' title='Посмотреть все курсы').courses-btn Посмотреть все курсы
