// Course subscribe
.form-wrapper.form-wrapper--1
    .container
        p.form-title Получить информацию о ближайшем курсе
        form.form
            label.form__label.form__label--name
                input(placeholder='Имя').form__input
            label.form__label.form__label--mail
                input(placeholder='E-mail').form__input
            label.form__label.form__label--phone
                input(placeholder='Телефон').form__input
            button.form__btn Подпишись

