// Course subscribe
.form-wrapper.form-wrapper--1
    .container
        p.form-title Получить информацию о ближайшем курсе
        form.form
            label.form__label.form__label--name
                input(placeholder='Имя' required='required').form__input
            label.form__label.form__label--mail
                input(placeholder='E-mail' required='required').form__input
            label.form__label.form__label--phone
                input(placeholder='Телефон' type='tel' required='required').form__input
            button.form__btn Подпишись

