// Features
.container
    // Feature
    section.feature
        .feature__icon.feature__icon--weekend
        h3.feature__title Интенсивы <br> выходного дня
        p.feature__text 2-3 дневные занятия с топовыми специалистами Санкт-Петербурга, быстрое получение концентрата знаний и навыков
        a(href='javascript:void(0)' title='Узнать подробное про Интенсивы выходного дня').btn-roll.btn-roll--small
            span.btn-roll__text Подробнее
    // Feature
    section.feature
        .feature__icon.feature__icon--corporate-edu
        h3.feature__title Корпоративное обучение
        p.feature__text 2-3 дневные занятия с топовыми специалистами Санкт-Петербурга, быстрое получение концентрата знаний и навыков
        a(href='javascript:void(0)' title='Узнать подробное про Интенсивы выходного дня').btn-roll.btn-roll--small
            span.btn-roll__text Подробнее
    // Feature
    section.feature
        .feature__icon.feature__icon--free-events
        h3.feature__title Бесплатные мероприятия
        p.feature__text 2-3 дневные занятия с топовыми специалистами Санкт-Петербурга, быстрое получение концентрата знаний и навыков
        a(href='javascript:void(0)' title='Узнать подробное про Интенсивы выходного дня').btn-roll.btn-roll--small
            span.btn-roll__text Подробнее
    // Feature
    section.feature
        .feature__icon.feature__icon--services
        h3.feature__title Другие <br>услуги
        p.feature__text 2-3 дневные занятия с топовыми специалистами Санкт-Петербурга, быстрое получение концентрата знаний и навыков
        a(href='javascript:void(0)' title='Узнать подробное про Интенсивы выходного дня').btn-roll.btn-roll--all-services
            span.btn-roll__text Посмотреть все услуги
