// Course subscribe
.form-wrapper.form-wrapper--2
    .container
        .form-left
            p.form-title.form-title--tal Напишите нам
            p.form-text.
                Если вы решили стать нашим партнёром,
                укажите, пожалуйста, какой вид партнёрства
                вас интересует.
            p.form-text.
                Мы всегда открыты для  сотрудничества
                и готовы рассмотреть любые
                предложения.

        form.form.form--right
            .form__left
                label.form__label.form__label--name.form__label--contacts
                    input(placeholder='Имя' required='required').form__input.form__input--contacts
                label.form__label.form__label--mail.form__label--contacts
                    input(placeholder='E-mail' required='required').form__input.form__input--contacts
                label.form__label.form__label--theme.form__label--contacts
                    input(placeholder='Тема' required='required').form__input.form__input--contacts
            .form__right
                label.form__label.form__label--noicon.form__label--contacts
                    textarea.form__textarea.form__textarea--contacts
                button.form__btn.form__btn--contacts Подпишись
