// Footer
footer.footer
    .container
        .footer-column
            h3.h3-title Полезные ссылки
            nav.footer__nav
                ul.footer__nav-list
                    li.footer__nav-item
                        a(href='javascript:void(0)' title='Все курсы').footer__nav-link Все курсы
                    li.footer__nav-item
                        a(href='javascript:void(0)' title='База знаний').footer__nav-link База знаний
                    li.footer__nav-item
                        a(href='javascript:void(0)' title='Преподаватели').footer__nav-link Преподаватели
                    li.footer__nav-item
                        a(href='javascript:void(0)' title='Кейсы').footer__nav-link Кейсы
        .footer-column
            h3.h3-title Мероприятия
        .footer-column
            h3.h3-title Услуги
        .footer-column
            h3.h3-title Контакты

.scripts

    // Set JS assets
    script(src="js/vendor/vendor-bundle.min.js" defer)
    script(src="js/custom/custom-bundle.min.js" defer)

    //include _googleAnalytics
    //include _yandexMetrika
