// Header
header.header
    include _top
    // Header block
    .container.container--header-menu-inner
        a(href='index.html' title='Международная школа интернет-маркетинга №1 в Санкт-Петербурге').logo
            include ../../svg/logo.svg
        nav.header-menu
            ul.header-menu__list.header-menu__list--inner
                li.header-menu__item
                    a(href='courses-and-events.html' title='Курсы и мероприятия').header-menu__link.header-menu__link--inner Курсы и мероприятия
                li.header-menu__item
                    a(href='teachers.html' title='Преподаватели').header-menu__link.header-menu__link--inner Преподаватели
                li.header-menu__item
                    a(href='services.html' title='Услуги').header-menu__link.header-menu__link--inner Услуги
                li.header-menu__item
                    a(href='cases.html' title='Кейсы').header-menu__link.header-menu__link--inner Кейсы
                li.header-menu__item
                    a(href='blog.html' title='Блог').header-menu__link.header-menu__link--inner Блог
                li.header-menu__item
                    a(href='contacts.html' title='Контакты').header-menu__link.header-menu__link--inner Контакты
                li.header-menu__item
                    a(href='partners.html' title='Партнеры').header-menu__link.header-menu__link--inner Партнеры

    .wrapper.wrapper--inner-services
        .container
            h1.h1-title Услуги
