// Our teachers
include ../mixins/_teacher-slide
.wrapper
    .container
        h2.h2-title Наши преподаватели
        // Teachers slider
        .teachers-slider#js-teachers-slider
            - for (i=0; i<6; i++)
                +teacher-slide

        a(href='javascript:void(0)' title='Посмотреть всех преподавателей').btn-roll
            span.btn-roll__text Посмотреть всех
