// Students results
include ../mixins/_student-result
.wrapper.wrapper--grey
    .container
        h2.h2-title Результаты учеников
        // Courses slider
        .st-res-slider#js-st-res-slider
            - for (i=0; i<6; i++)
                + student-result
