// Usefull subscribe
.form-wrapper.form-wrapper--1
    .container
        p.form-title.form-title--mb-none Полезная рассылка
        p.form-subtitle Получить полный доступ к базе знаний
        form.form
            label.form__label.form__label--name
                input(placeholder='Имя').form__input.form__input--wire
            label.form__label.form__label--mail
                input(placeholder='E-mail').form__input.form__input--wire
            button.form__btn Подпишись
