// Blog SLide
mixin blog-slide
    // Slide / Article
    section.blog-slide
        .blog-slide__img-wrp
            img( data-lazy='img/blog-video.jpg' alt='ЛЕТНИЙ ПРОРЫВ 2015: ПЕРЕХОД ИНТЕРНЕТ-МАГАЗИНА НА НОВЫЙ УРОВЕНЬ' title='ЛЕТНИЙ ПРОРЫВ 2015: ПЕРЕХОД ИНТЕРНЕТ-МАГАЗИНА НА НОВЫЙ УРОВЕНЬ').blog-slide__img
            .blog-slide__date-wrp
                span.blog-slide__date 23
                span.blog-slide__month янв
        .blog-slide__right
            h3.blog-slide__title ЛЕТНИЙ ПРОРЫВ 2015: ПЕРЕХОД <br> ИНТЕРНЕТ-МАГАЗИНА НА НОВЫЙ УРОВЕНЬ
            .blog-slide__info-wrp
                span.blog-slide__info.blog-slide__info--author Александр Докучалов
                span.blog-slide__info.blog-slide__info--video Видео
                span.blog-slide__info.blog-slide__info--comments 24
            .blog-slide__anons.
                IMpro проведет открытый урок, на котором специалисты digital-рынка будут делиться эффективными способами продвижения в интернете и секретами увеличения прибыли и повышения конверсии. И ответим на сокровенный вопрос: "Как внедрить в свою компанию механизмы прозрачности инвестиций в рекламу в Интернет".
            a(href='javascript:void(0)' title='Александр Докучалов - Специалист по социальным коммуникациям').link-more Подробнее

