mixin course-or-event
    section.event
        img(data-original='img/event.jpg' alt='Интенсив - Основы комплексного интернет-маркетинга' title='Интенсив - Основы комплексного интернет-маркетинга').event__img
        .event__info-wrp
            h2.event__title Интенсив <br>«Основы комплексного интернет-маркетинга»
            .event__data-wrp
                span.event__data.event__data--time 15.00-17.00
                span.event__data.event__data--duration 2 дня
            p.event__text Курс предполагает 4 варианта тарифов оплаты
            p.event__leads
                b Ведут:&nbsp;
                = ' '
                span Ярослав Табаков, Роман Осокин, Александр Докучалов, Михаил Шавров
            a(href='javascript:void(0)' title='Подробнее').btn-roll.btn-roll--small.btn-roll--m0
                span.btn-roll__text Подробнее
