// Teacher slide
mixin teacher-slide
    // Slide / Teacher
    section.teacher
        img( data-lazy='img/teacher.jpg' alt='Александр Докучалов - Специалист по социальным коммуникациям' title='Александр Докучалов - Специалист по социальным коммуникациям').teacher__img
        h3.teacher__title Александр Докучалов
        p.teacher__specs Специалист по социальным коммуникациям
        p.teacher__specs.teacher__specs--light Опытный таргетолог. Спикер семинаров 1С-Битрикс и UMI
        a(href='javascript:void(0)' title='Александр Докучалов - Специалист по социальным коммуникациям').link-more Подробнее
