/**
* Typography
**/

$base-font-size: 14px;
$base-line-height: 0;

/**
* Colors
**/

$color-images-bg: #ccc;

$color-top-bg: #232323;
$color-top-text: #6e6f71;
$color-top-light: #faf7fb;

$color-social-vk: #698b35 ;
$color-social-fb: #80942b;
$color-social-tw: #909923;
$color-social-yt: #a19811;
$color-social-inst: #a8a120;

$color-header-menu: #fefdfe;
$color-header-menu--hover: #813193;

$color-header-title: #fefdfe;
$color-header-text: #000;
$color-header-btn: #fff;
$color-header-down-text: #fff;

$color-feature-title: #373a3e;
$color-feature-text: #6e6e6e;
$color-feature-btn--hover: #93c400;
$color-feature-btn-services--hover: #813193;

$color-courses-bg: #6e6e6e;

/**
* Media Queries Breakpoints
**/

$mq-breakpoints: (
        mobile:  320px,
        tablet:  740px,
        desktop: 980px,
        wide:    1300px
);

// AstraMedia Group outdate browsers modal
$amg-color-wrapper-bgc: #808080;
$amg-color-modal-bgc: #fff;

$amg-color-title: #404041;
$amg-color-title-more: #e62d2a;

$amg-color-cross: #e62d2a;
$amg-color-cross--hover: #000;

$amg-color-browser-name: #373839;
$amg-color-browser--hover-shadow: #cfcfcf;

$amg-color-btn-thx: #e62d2a;
$amg-color-btn-thx--hover: #414041;
