.courses-wrapper{
    background-color: $color-courses-bg;
    padding-top: 60px;
    padding-bottom: 100px;
}

.courses-title{
    @include font-family('Intro-Regular');
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 13px;
    margin-bottom: 70px;
}

.course{
    width: 360px;

    &__img{

        &--yellow{

        }
        &--green{

        }
        &--violet{

        }
    }
    &__title{

    }
    &__leads{

    }
}
