@include mq($from: desktop, $until: container) {

    .container{
        width: 100%;
        padding: 0 20px;
    }

    // Forms
    .form__input{
        width: 220px;

        &--wire{  width: 330px; }
    }

    // Blog Slider
    .blog-slide__right{
        width: 210px;
    }

    // Courses and events
    .event__img{  margin: 0 auto 20px auto;}
    .event__info-wrp{  margin: 0 auto;}
}
