@include mq($from: desktop, $until: container) {

    .container{
        width: 100%;
        padding: 0 20px;
    }

    // Forms
    .form-wrapper{  height: auto;   }
    .form__input{
        width: 220px;

        &--wire{  width: 330px; }
        &--contacts{  width: 100%;  }
    }
    .form--right{  width: 575px; }
    .form__left{  width: 575px; }
    .form__right{  width: 575px; }
    .form__textarea--contacts{  width: 100%;    }

    // Blog Slider
    .blog-slide__right{
        width: 210px;
    }

    // Courses and events
    .event__img{  margin: 0 auto 20px auto;}
    .event__info-wrp{  margin: 0 auto;}

    // Contacts
    .contacts__img{  width: 555px;  }

}
