.form-wrapper{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 297px;
    padding-top: 75px;
    padding-bottom: 50px;
    &--1{  background-image: url(../img/course-subscribe-bg.jpg);  }
}

.form-title{
    width: 100%;
    @include font-family('Intro-Regular');
    font-size: 30px;
    color: $color-form-title;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 65px;
    &--mb-none{
        margin-bottom: 0;
    }
}

.form-subtitle{
    @include font-family('OpenSans-Regular');
    font-size: 16px;
    color: $color-form-title;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}

.form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__label{
        position: relative;
        &:before{
            content: '';
            display: inline-block;
            width: 50px;
            height: 50px;
            background-color: $color-form-icon-bg;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
        }
        &--name:before{  background-image: url(../img/icon-man.png);   }
        &--mail:before{  background-image: url(../img/icon-mail.png);  }
        &--phone:before{  background-image: url(../img/icon-phone.png);  }
    }

    &__input{
        @include font-family('OpenSans-Regular');
        font-size: 18px;
        color: $color-form-input;
        width: 270px;
        height: 50px;
        line-height: 50px;
        border: 0;
        padding-left: 60px;
        box-sizing: border-box;
        outline: none;
        &::placeholder{
            @include font-family('OpenSans-Regular');
            font-size: 18px;
            color: $color-form-input;
        }
        &--wire{    width: 415px;   }
    }
    &__btn{
        @include transition();
        @include font-family('Intro-Regular');
        font-size: 18px;
        color: $color-header-btn;
        display: inline-block;
        text-transform: uppercase;
        height: 50px;
        line-height: 50px;
        width: 270px;
        text-align: center;
        background: url(../img/index-header-btn-bg.jpg) no-repeat;
        background-size: cover;
        border: 0;
        &:hover{
            background: url(../img/index-header-btn-bg--hover.jpg) no-repeat;
            background-size: cover;
        }
    }
}
