@include mq($from: tablet, $until: desktop) {

    .container{
        width: 100%;
        padding: 0 20px;
        &--top{
            justify-content: center;
        }
    }

    // Header
    .header-down__text{  visibility: hidden;  }

    // Courses
    .course__leads{
        padding: 0 20px;
    }
    .course__title{
        padding: 0 20px;
    }

    // Forms
    .form-wrapper{  height: auto;   }
    .form-title{  margin-bottom: 10px;  }
    .form__input{
        width: calc(100vw - 65px);
        margin-bottom: 10px;
        &--wire{  width: calc(100vw - 65px); }
        &--contacts{  width: 100%;  }
    }
    .form__btn{  width: calc(100vw - 65px); }
    .form__btn--contacts{  width: calc(100vw - 65px);  margin: 0 auto; }
    .form-left{  width: 100%;  padding-bottom: 30px;    }
    .form--right{  width: 100%; }
    .form__left{  width: 100%; }
    .form__right{  width: 100%; }
    .form__textarea--contacts{  width: 100%;    }

    // Blog Slider
    .blog-slide__title{
        margin-top: 10px;
        text-align: center;
    }
    .blog-slide__img-wrp{
        margin: 0 auto;
    }

    .blog-slide__right{
        width: 100%;
    }

    // Courses and events
    .event__img{  margin: 0 auto 20px auto;}
    .event__info-wrp{  margin: 0 auto;}

    // Contacts
    .contacts__img{  width: 100%;   }
    .contacts__right{  width: 100%;  padding-top: 30px; }
    .contacts__join{  width: 100%;  text-align: center; }

}
