.teachers-wrapper{
    padding-top: 60px;
    padding-bottom: 100px;
}

.teachers-slider{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 55px;
    justify-content: space-between;
}

.teacher{
    width: 265px;
    background-color: $color-blocks-bg;
    text-align: center;
    padding-bottom: 30px;
    box-sizing: border-box;
    margin: 0 15px;
    outline: none;

    &__img{
        width: 100%;
        height: 175px;
        object-fit: contain;
        background-color: $color-images-bg;
        margin-bottom: 40px;
    }
    &__title{
        @include font-family('OpenSans-Bold');
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 20px;
        width: 190px;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
    }
    &__specs{
        @include font-family('OpenSans-Semibold');
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 20px;
        width: 190px;
        margin-left: auto;
        margin-right: auto;
        &--light{
            @include font-family('OpenSans-Light');
            margin-bottom: 35px;
        }
    }
    &__more{
        @include font-family('OpenSans-Semibold');
        font-size: 14px;
        text-decoration: none;
        color: $color-teacher-more;
        &:after{
            @include transition();
            content: '';
            display: inline-block;
            width: 14px;
            height: 14px;
            background-image: url(../img/link-arrow.png);
            background-repeat: no-repeat;
            vertical-align: middle;
            margin-left: 4px;
        }
        &:hover:after{  background-image: url(../img/link-arrow--hover.png);  }
    }
}

.teachers-slider.slick-slider{
    position: static;
    & .slick-track{
        display: flex;
        justify-content: space-between;
    }
    & .slick-arrow{
        @include transition();
        position: absolute;
        top: 0;
        cursor: pointer;
        display: inline-block;
        width: 37px;
        height: 37px;
        background-image: url(../img/slider-arrow.png);
        &:hover{  background-image: url(../img/slider-arrow--hover.png);  }
    }
    & .slick-prev{
        left: 0;
        &:hover{  transform: rotate(180deg);  }
    }
    & .slick-next{
        right: 0;
        transform: rotate(180deg);
        &:hover{  transform: rotate(0deg);  }
    }
}
