.top{
    width: 100%;
    background-color: $color-top-bg;
    line-height: 30px;

    &__address{
        @include font-family('OpenSans-Regular');
        font-size: $base-font-size;
        color: $color-top-text;
        letter-spacing: 0.005em;
    }
    &__right{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__mail{
        @include font-family('OpenSans-Regular');
        font-size: $base-font-size;
        color: $color-top-text;
        letter-spacing: 0.005em;
        text-decoration: none;
        margin-right: 80px;
        @include transition();
        &:hover{
            color: $color-top-light;
        }
        & svg {
            width: 14px;
            height: 10px;
            fill: #8ec23f;
            margin-right: 10px;
            vertical-align: middle;
        }

    }
    &__phone{
        @include font-family('OpenSans-Bold');
        font-size: $base-font-size;
        color: $color-top-text;
        text-decoration: none;
        margin-right: 80px;
        & svg {
            width: 14px;
            height: 13px;
            fill: #8ec23f;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
    &__phone-code{
        font-size: $base-font-size;
        color: $color-top-text;
        letter-spacing: 0.005em;
        margin-right: 5px;
        @include transition();
        &:hover{
            color: $color-top-light;
        }
    }
    &__phone-number{
        font-size: (16 / $base-font-size) +rem;
        color: $color-top-text;
        letter-spacing: 0.022em;
        color: $color-top-light;
    }
    &__social{
        display: inline-block;
        width: 30px;
        height: 30px;
        background-size: auto 15px;
        background-repeat: no-repeat;
        background-position: center;
        @include transition();
        &:hover{
            transform: scale(1.5);
            border-radius: 50%;
        }

        &--vkontakte{
            background-image: url(../svg/icon-vk.svg);
            background-color: $color-social-vk;
            &:hover{
                background-color: lighten($color-social-vk, 20%);
            }
        }
        &--facebook{
            background-image: url(../svg/icon-fb.svg);
            background-color: $color-social-fb;
            &:hover{
                background-color: lighten($color-social-fb, 20%);
            }
        }
        &--twitter{
            background-image: url(../svg/icon-tw.svg);
            background-color: $color-social-tw;
            &:hover{
                background-color: lighten($color-social-tw, 20%);
            }
        }
        &--youtube{
            background-image: url(../svg/icon-yt.svg);
            background-color: $color-social-yt;
            &:hover{
                background-color: lighten($color-social-yt, 20%);
            }
        }
        &--instagram{
            background-image: url(../svg/icon-inst.svg);
            background-color: $color-social-inst;
            &:hover{
                background-color: lighten($color-social-inst, 20%);
            }
        }
    }
}
