doctype
html.no-js(lang='ru', prefix='og: http://ogp.me/ns#')

    include includes/_head

    body

        include includes/_header

        include includes/_main
            include includes/_features
            include includes/_courses
            include includes/_course-subscribe
            include includes/_our-teachers
            include includes/_students-results
            include includes/_blog
            include includes/_subscribe

        include includes/_footer

        //include includes/_outdate-browers
